In [12]:
# 載入所需套件
!pip install ffn
import ffn
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import datetime

Requirement already satisfied: ffn in /opt/conda/lib/python3.6/site-packages (0.3.4)
Requirement already satisfied: tabulate>=0.7.5 in /opt/conda/lib/python3.6/site-packages (from ffn) (0.8.3)
Requirement already satisfied: scikit-learn>=0.15 in /opt/conda/lib/python3.6/site-packages (from ffn) (0.21.3)
Requirement already satisfied: scipy>=0.15 in /opt/conda/lib/python3.6/site-packages (from ffn) (1.2.1)
Requirement already satisfied: matplotlib>=1 in /opt/conda/lib/python3.6/site-packages (from ffn) (3.1.1)
Requirement already satisfied: future>=0.15 in /opt/conda/lib/python3.6/site-packages (from ffn) (0.17.1)
Requirement already satisfied: numpy>=1.5 in /opt/conda/lib/python3.6/site-packages (from ffn) (1.16.2)
Requirement already satisfied: decorator>=4 in /opt/conda/lib/python3.6/site-packages (from ffn) (4.4.0)
Requirement already satisfied: pandas>=0.19 in /opt/conda/lib/python3.6/site-packages (from ffn) (0.25.1)
Requirement already satisfied: pandas-datareader>=0.2 in /opt/conda/lib/python3.6/site-packages (from ffn) (0.7.4)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.6/site-packages (from scikit-learn>=0.15->ffn) (0.13.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages (from matplotlib>=1->ffn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib>=1->ffn) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib>=1->ffn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib>=1->ffn) (2.4.2)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas>=0.19->ffn) (2018.9)
Requirement already satisfied: wrapt in /opt/conda/lib/python3.6/site-packages (from pandas-datareader>=0.2->ffn) (1.11.2)
Requirement already satisfied: lxml in /opt/conda/lib/python3.6/site-packages (from pandas-datareader>=0.2->ffn) (4.4.1)
Requirement already satisfied: requests>=2.3.0 in /opt/conda/lib/python3.6/site-packages (from pandas-datareader>=0.2->ffn) (2.21.0)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from cycler>=0.10->matplotlib>=1->ffn) (1.12.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1->ffn) (40.9.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader>=0.2->ffn) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader>=0.2->ffn) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader>=0.2->ffn) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests>=2.3.0->pandas-datareader>=0.2->ffn) (1.24.1)
You are using pip version 19.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
ffn.get('2330.TW:Open, 2330.TW:High, 2330.TW:Low, 2330.TW:Close', start='2019-01-01', end='2019-07-01')

            2330twopen  2330twhigh  2330twlow  2330twclose
Date
2019-01-02       226.5       226.5      219.0        219.5
2019-01-03       214.0       218.0      214.0        215.5
2019-01-04       211.5       211.5      206.5        208.0
2019-01-07       212.0       214.0      211.0        213.0
2019-01-08       212.0       212.5      210.0        211.0
...                ...         ...        ...          ...
2019-06-26       235.0       236.5      234.0        234.5
2019-06-27       236.0       241.5      236.0        240.5
2019-06-28       241.5       241.5      238.0        239.0
2019-07-01       245.5       250.0      245.0        248.5
2019-07-02       249.5       250.0      247.5        249.0

[117 rows x 4 columns]