In [1]:
!pip install xgboost pandas sklearn matplotlib

Requirement already satisfied: xgboost in /opt/conda/lib/python3.6/site-packages (0.82)
Collecting pandas
  Using cached https://files.pythonhosted.org/packages/73/9b/52e228545d14f14bb2a1622e225f38463c8726645165e1cb7dde95bfe6d4/pandas-0.25.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting sklearn
Collecting matplotlib
  Using cached https://files.pythonhosted.org/packages/57/4f/dd381ecf6c6ab9bcdaa8ea912e866dedc6e696756156d8ecc087e20817e2/matplotlib-3.1.1-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: scipy in /opt/conda/lib/python3.6/site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (from xgboost) (1.16.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Collecting scikit-learn (from sklearn)
  Using cached https://files.pythonhosted.org/packages/a0/c5/d2238762d780dde84a20b8c761f563fe882b88c5a5fb03c056547c442a19/scikit_learn-0.21.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting cycler>=0.10 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/11/fa/0160cd525c62d7abd076a070ff02b2b94de589f1a9789774f17d7c54058e/pyparsing-2.4.2-py2.py3-none-any.whl
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Using cached https://files.pythonhosted.org/packages/f8/a1/5742b56282449b1c0968197f63eae486eca2c35dcd334bab75ad524e0de1/kiwisolver-1.1.0-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Using cached https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib) (40.9.0)
Installing collected packages: pandas, joblib, scikit-learn, sklearn, cycler, pyparsing, kiwisolver, matplotlib
Successfully installed cycler-0.10.0 joblib-0.13.2 kiwisolver-1.1.0 matplotlib-3.1.1 pandas-0.25.1 pyparsing-2.4.2 scikit-learn-0.21.3 sklearn-0.0
You are using pip version 19.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import os
import numpy as np
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
font = FontProperties(fname='font_ch.ttf', size=14)

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, roc_auc_score, auc, roc_curve, accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [33]:
df_train = pd.read_csv('./T-BrainAI_dataset/train.csv', encoding='big5')
df_train

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (17,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2525675,F,高,A1,A1,3.0,0.0,N,0,N,...,0.000439,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
99996,2534462,F,高,E,E,1.0,0.0,Y,0,N,...,0.000000,H,N,N,Y,N,N,N,N,Y
99997,2535679,F,中高,C2,C2,2.0,1.0,Y,0,N,...,0.000000,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
99998,2544819,M,高,A1,A1,3.0,1.0,Y,0,Y,...,0.000504,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
99999,1994377,M,高,B1,B1,3.0,1.0,Y,4,Y,...,0.000404,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [34]:
df_test = pd.read_csv('./T-BrainAI_dataset/test.csv', encoding='big5')
df_test

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,IF_ADD_INSD_IND,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G
0,1193,M,低,A1,A1,2.0,0.0,Y,4,Y,...,Y,0.000151,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1727,M,低,A1,A1,NaN,0.0,N,0,N,...,N,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3293,M,低,A1,A1,1.0,0.0,N,0,N,...,N,0.000090,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4328,M,低,A1,A1,NaN,0.0,N,0,N,...,N,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5555,M,低,A1,A1,1.0,0.0,Y,0,Y,...,N,0.000179,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2074085,F,中高,A1,A1,3.0,0.0,Y,0,N,...,NaN,0.000122,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149996,2095927,F,高,B1,B1,3.0,1.0,Y,1,Y,...,NaN,0.000104,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149997,2125973,M,高,C1,C1,3.0,1.0,Y,0,N,...,NaN,0.000225,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149998,2511714,F,高,D,D,3.0,1.0,Y,0,N,...,NaN,0.000000,H,Y,N,N,N,N,N,N
149999,2558094,F,高,D,A1,1.0,1.0,N,0,N,...,NaN,0.000000,H,N,N,N,N,N,N,N

In [35]:
nonNum_features = []
for feature in df_train.columns:
    try:
        if df_train[feature].dtype == object:
            nonNum_features.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(nonNum_features)} Non-num Features : {nonNum_features}\n')

Num_features = []
for feature in df_train.columns:
    try:
        if (df_train[feature].dtype == int) or (df_train[feature].dtype == float):
            Num_features.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(Num_features)} Num Features : {Num_features}\n')

nonNum_features_t = []
for feature in df_test.columns:
    try:
        if df_test[feature].dtype == object:
            nonNum_features_t.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(nonNum_features_t)} Non-num Features : {nonNum_features_t}\n')

Num_features_t = []
for feature in df_test.columns:
    try:
        if (df_test[feature].dtype == int) or (df_test[feature].dtype == float):
            Num_features_t.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(Num_features_t)} Num Features : {Num_features_t}\n')

90 Non-num Features : ['GENDER', 'AGE', 'CHARGE_CITY_CD', 'CONTACT_CITY_CD', 'LAST_A_CCONTACT_DT', 'LAST_A_ISSUE_DT', 'LAST_B_ISSUE_DT', 'APC_1ST_AGE', 'INSD_1ST_AGE', 'IF_2ND_GEN_IND', 'RFM_R', 'REBUY_TIMES_CNT', 'LIFE_CNT', 'IF_ISSUE_A_IND', 'IF_ISSUE_B_IND', 'IF_ISSUE_C_IND', 'IF_ISSUE_D_IND', 'IF_ISSUE_E_IND', 'IF_ISSUE_F_IND', 'IF_ISSUE_G_IND', 'IF_ISSUE_H_IND', 'IF_ISSUE_I_IND', 'IF_ISSUE_J_IND', 'IF_ISSUE_K_IND', 'IF_ISSUE_L_IND', 'IF_ISSUE_M_IND', 'IF_ISSUE_N_IND', 'IF_ISSUE_O_IND', 'IF_ISSUE_P_IND', 'IF_ISSUE_Q_IND', 'IF_ADD_F_IND', 'IF_ADD_L_IND', 'IF_ADD_Q_IND', 'IF_ADD_G_IND', 'IF_ADD_R_IND', 'IF_ADD_IND', 'L1YR_PAYMENT_REMINDER_IND', 'L1YR_LAPSE_IND', 'LAST_B_CONTACT_DT', 'A_IND', 'B_IND', 'C_IND', 'LAST_C_DT', 'IF_S_REAL_IND', 'IF_Y_REAL_IND', 'IM_IS_A_IND', 'IM_IS_B_IND', 'IM_IS_C_IND', 'IM_IS_D_IND', 'X_A_IND', 'X_B_IND', 'X_C_IND', 'X_D_IND', 'X_E_IND', 'X_F_IND', 'X_G_IND', 'X_H_IND', 'IF_HOUSEHOLD_CLAIM_IND', 'IF_ISSUE_INSD_A_IND', 'IF_ISSUE_INSD_B_IND', 'IF_ISSUE_INSD_C_IND', 'IF_ISSUE_INSD_D_IND', 'IF_ISSUE_INSD_E_IND', 'IF_ISSUE_INSD_F_IND', 'IF_ISSUE_INSD_G_IND', 'IF_ISSUE_INSD_H_IND', 'IF_ISSUE_INSD_I_IND', 'IF_ISSUE_INSD_J_IND', 'IF_ISSUE_INSD_K_IND', 'IF_ISSUE_INSD_L_IND', 'IF_ISSUE_INSD_M_IND', 'IF_ISSUE_INSD_N_IND', 'IF_ISSUE_INSD_O_IND', 'IF_ISSUE_INSD_P_IND', 'IF_ISSUE_INSD_Q_IND', 'IF_ADD_INSD_F_IND', 'IF_ADD_INSD_L_IND', 'IF_ADD_INSD_Q_IND', 'IF_ADD_INSD_G_IND', 'IF_ADD_INSD_R_IND', 'IF_ADD_INSD_IND', 'CUST_9_SEGMENTS_CD', 'FINANCETOOLS_A', 'FINANCETOOLS_B', 'FINANCETOOLS_C', 'FINANCETOOLS_D', 'FINANCETOOLS_E', 'FINANCETOOLS_F', 'FINANCETOOLS_G', 'Y1']

42 Num Features : ['CUS_ID', 'EDUCATION_CD', 'MARRIAGE_CD', 'L1YR_A_ISSUE_CNT', 'L1YR_B_ISSUE_CNT', 'CHANNEL_A_POL_CNT', 'CHANNEL_B_POL_CNT', 'OCCUPATION_CLASS_CD', 'APC_CNT', 'INSD_CNT', 'APC_1ST_YEARDIF', 'LEVEL', 'RFM_M_LEVEL', 'ANNUAL_PREMIUM_AMT', 'AG_CNT', 'AG_NOW_CNT', 'CLC_CUR_NUM', 'ANNUAL_INCOME_AMT', 'L1YR_C_CNT', 'BANK_NUMBER_CNT', 'INSD_LAST_YEARDIF_CNT', 'BMI', 'IM_CNT', 'TERMINATION_RATE', 'TOOL_VISIT_1YEAR_CNT', 'DIEBENEFIT_AMT', 'DIEACCIDENT_AMT', 'POLICY_VALUE_AMT', 'ANNUITY_AMT', 'EXPIRATION_AMT', 'ACCIDENT_HOSPITAL_REC_AMT', 'DISEASES_HOSPITAL_REC_AMT', 'OUTPATIENT_SURGERY_AMT', 'INPATIENT_SURGERY_AMT', 'PAY_LIMIT_MED_MISC_AMT', 'FIRST_CANCER_AMT', 'ILL_ACCELERATION_AMT', 'ILL_ADDITIONAL_AMT', 'LONG_TERM_CARE_AMT', 'MONTHLY_CARE_AMT', 'LIFE_INSD_CNT', 'L1YR_GROSS_PRE_AMT']

89 Non-num Features : ['GENDER', 'AGE', 'CHARGE_CITY_CD', 'CONTACT_CITY_CD', 'LAST_A_CCONTACT_DT', 'LAST_A_ISSUE_DT', 'LAST_B_ISSUE_DT', 'APC_1ST_AGE', 'INSD_1ST_AGE', 'IF_2ND_GEN_IND', 'RFM_R', 'REBUY_TIMES_CNT', 'LIFE_CNT', 'IF_ISSUE_A_IND', 'IF_ISSUE_B_IND', 'IF_ISSUE_C_IND', 'IF_ISSUE_D_IND', 'IF_ISSUE_E_IND', 'IF_ISSUE_F_IND', 'IF_ISSUE_G_IND', 'IF_ISSUE_H_IND', 'IF_ISSUE_I_IND', 'IF_ISSUE_J_IND', 'IF_ISSUE_K_IND', 'IF_ISSUE_L_IND', 'IF_ISSUE_M_IND', 'IF_ISSUE_N_IND', 'IF_ISSUE_O_IND', 'IF_ISSUE_P_IND', 'IF_ISSUE_Q_IND', 'IF_ADD_F_IND', 'IF_ADD_L_IND', 'IF_ADD_Q_IND', 'IF_ADD_G_IND', 'IF_ADD_R_IND', 'IF_ADD_IND', 'L1YR_PAYMENT_REMINDER_IND', 'L1YR_LAPSE_IND', 'LAST_B_CONTACT_DT', 'A_IND', 'B_IND', 'C_IND', 'LAST_C_DT', 'IF_S_REAL_IND', 'IF_Y_REAL_IND', 'IM_IS_A_IND', 'IM_IS_B_IND', 'IM_IS_C_IND', 'IM_IS_D_IND', 'X_A_IND', 'X_B_IND', 'X_C_IND', 'X_D_IND', 'X_E_IND', 'X_F_IND', 'X_G_IND', 'X_H_IND', 'IF_HOUSEHOLD_CLAIM_IND', 'IF_ISSUE_INSD_A_IND', 'IF_ISSUE_INSD_B_IND', 'IF_ISSUE_INSD_C_IND', 'IF_ISSUE_INSD_D_IND', 'IF_ISSUE_INSD_E_IND', 'IF_ISSUE_INSD_F_IND', 'IF_ISSUE_INSD_G_IND', 'IF_ISSUE_INSD_H_IND', 'IF_ISSUE_INSD_I_IND', 'IF_ISSUE_INSD_J_IND', 'IF_ISSUE_INSD_K_IND', 'IF_ISSUE_INSD_L_IND', 'IF_ISSUE_INSD_M_IND', 'IF_ISSUE_INSD_N_IND', 'IF_ISSUE_INSD_O_IND', 'IF_ISSUE_INSD_P_IND', 'IF_ISSUE_INSD_Q_IND', 'IF_ADD_INSD_F_IND', 'IF_ADD_INSD_L_IND', 'IF_ADD_INSD_Q_IND', 'IF_ADD_INSD_G_IND', 'IF_ADD_INSD_R_IND', 'IF_ADD_INSD_IND', 'CUST_9_SEGMENTS_CD', 'FINANCETOOLS_A', 'FINANCETOOLS_B', 'FINANCETOOLS_C', 'FINANCETOOLS_D', 'FINANCETOOLS_E', 'FINANCETOOLS_F', 'FINANCETOOLS_G']

42 Num Features : ['CUS_ID', 'EDUCATION_CD', 'MARRIAGE_CD', 'L1YR_A_ISSUE_CNT', 'L1YR_B_ISSUE_CNT', 'CHANNEL_A_POL_CNT', 'CHANNEL_B_POL_CNT', 'OCCUPATION_CLASS_CD', 'APC_CNT', 'INSD_CNT', 'APC_1ST_YEARDIF', 'LEVEL', 'RFM_M_LEVEL', 'ANNUAL_PREMIUM_AMT', 'AG_CNT', 'AG_NOW_CNT', 'CLC_CUR_NUM', 'ANNUAL_INCOME_AMT', 'L1YR_C_CNT', 'BANK_NUMBER_CNT', 'INSD_LAST_YEARDIF_CNT', 'BMI', 'IM_CNT', 'TERMINATION_RATE', 'TOOL_VISIT_1YEAR_CNT', 'DIEBENEFIT_AMT', 'DIEACCIDENT_AMT', 'POLICY_VALUE_AMT', 'ANNUITY_AMT', 'EXPIRATION_AMT', 'ACCIDENT_HOSPITAL_REC_AMT', 'DISEASES_HOSPITAL_REC_AMT', 'OUTPATIENT_SURGERY_AMT', 'INPATIENT_SURGERY_AMT', 'PAY_LIMIT_MED_MISC_AMT', 'FIRST_CANCER_AMT', 'ILL_ACCELERATION_AMT', 'ILL_ADDITIONAL_AMT', 'LONG_TERM_CARE_AMT', 'MONTHLY_CARE_AMT', 'LIFE_INSD_CNT', 'L1YR_GROSS_PRE_AMT']

In [36]:
# feature Selection

exclude_features = ['L1YR_C_CNT', 'IF_ISSUE_A_IND', 'ILL_ADDITIONAL_AMT', 'LAST_B_ISSUE_DT',
       'L1YR_LAPSE_IND', 'CHANNEL_B_POL_CNT', 'POLICY_VALUE_AMT',
       'ANNUAL_INCOME_AMT', 'IF_ISSUE_H_IND', 'IF_ADD_G_IND', 'IF_ISSUE_K_IND',
       'L1YR_B_ISSUE_CNT', 'IF_ISSUE_E_IND', 'CHARGE_CITY_CD', 'IF_Y_REAL_IND',
       'FIRST_CANCER_AMT', 'IF_ISSUE_M_IND', 'EXPIRATION_AMT',
       'CONTACT_CITY_CD', 'IF_ISSUE_O_IND']

# selected_features = ['CUS_ID', 'L1YR_A_ISSUE_CNT', 'IF_ISSUE_I_IND', 'LAST_A_CCONTACT_DT', 'AG_NOW_CNT', 
#                      'IF_ISSUE_Q_IND', 'CHANNEL_A_POL_CNT', 'TOOL_VISIT_1YEAR_CNT', 'IF_ADD_Q_IND', 'IF_ADD_L_IND', 'LEVEL', 'IF_ADD_IND', 
#                      'CLC_CUR_NUM', 'BANK_NUMBER_CNT', 'IF_ISSUE_J_IND', 'LIFE_INSD_CNT', 'LAST_C_DT', 'IM_CNT', 'EDUCATION_CD',
#                      'INSD_LAST_YEARDIF_CNT', 'IF_2ND_GEN_IND', 'APC_CNT', 'TERMINATION_RATE', 'APC_1ST_YEARDIF', 'AGE']

# df_train = df_train[selected_features]
# df_test = df_test[selected_features]
df_train = df_train[df_train.columns.difference(exclude_features)]
df_test = df_test[df_test.columns.difference(exclude_features)]

In [37]:
fill_values = {
    'INSD_LAST_YEARDIF_CNT': 0.1724875816240972,
    'EDUCATION_CD': 3.0, 
    'APC_1ST_YEARDIF': 0.2587685984593603, 
    'LEVEL': 5.0, 
    'TERMINATION_RATE': 12.090984696216369
}

for i,j in fill_values.items():
    try:
        if (len(df_train[i]) > 0):
            df_train[i] = df_train[i].fillna(value=fill_values[i])
    except:
        print(i)
        
for i,j in fill_values.items():
    try:
        if (len(df_test[i]) > 0):
            df_test[i] = df_test[i].fillna(value=fill_values[i])
    except:
        print(i)

# df_train = df_train.fillna('None')
# df_train = df_train.fillna('None')
df_test

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TERMINATION_RATE,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND
0,NaN,低,1,1,0.000259,NaN,低,0.000000,0,NaN,...,0.0,0,N,N,N,N,N,N,N,N
1,NaN,低,1,0,NaN,NaN,低,0.181818,0,NaN,...,0.0,0,N,N,N,N,N,N,N,N
2,0.0,低,2,2,0.000154,0.000000,低,0.068182,0,NaN,...,0.0,0,N,N,Y,N,N,N,N,N
3,NaN,低,1,0,NaN,NaN,低,0.159091,0,NaN,...,0.0,0,N,N,N,N,N,N,N,N
4,0.0,低,1,1,0.000310,0.000498,低,0.045455,0,NaN,...,0.0,1,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,NaN,中高,1,0,0.000211,NaN,高,0.090909,0,N,...,0.0,2,N,Y,N,N,Y,N,N,N
149996,NaN,高,1,1,0.000178,NaN,高,0.022727,0,NaN,...,0.0,15,N,Y,N,N,N,N,N,Y
149997,NaN,高,1,1,0.000275,NaN,高,0.159091,0,NaN,...,0.0,0,N,Y,Y,N,N,N,N,Y
149998,NaN,高,1,0,NaN,NaN,中高,0.477273,0,NaN,...,50.0,0,N,N,N,N,N,N,N,N
149999,NaN,高,1,1,NaN,NaN,中高,0.545455,0,NaN,...,0.0,0,N,N,N,N,N,N,N,N

In [38]:
nonNum_values = {'AGE': '低', 'APC_1ST_AGE': '中高', 'A_IND': 'N', 'B_IND': 'N', 'CHARGE_CITY_CD': 'B1', 'CONTACT_CITY_CD': 'A1', 'CUST_9_SEGMENTS_CD': 'C', 'C_IND': 'N', 'FINANCETOOLS_A': 'Y', 'FINANCETOOLS_B': 'N', 'FINANCETOOLS_C': 'N', 'FINANCETOOLS_D': 'N', 'FINANCETOOLS_E': 'N', 'FINANCETOOLS_F': 'N', 'FINANCETOOLS_G': 'N', 'GENDER': 'F', 'IF_2ND_GEN_IND': 'Y', 'IF_ADD_F_IND': 'N', 'IF_ADD_G_IND': 'N', 'IF_ADD_IND': 'N', 'IF_ADD_INSD_F_IND': 'None', 'IF_ADD_INSD_G_IND': 'N', 'IF_ADD_INSD_IND': 'N', 'IF_ADD_INSD_L_IND': 'Y', 'IF_ADD_INSD_Q_IND': 'Y', 'IF_ADD_INSD_R_IND': 'N', 'IF_ADD_L_IND': 'N', 'IF_ADD_Q_IND': 'N', 'IF_ADD_R_IND': 'N', 'IF_HOUSEHOLD_CLAIM_IND': 'Y', 'IF_ISSUE_A_IND': 'N', 'IF_ISSUE_B_IND': 'N', 'IF_ISSUE_C_IND': 'N', 'IF_ISSUE_D_IND': 'N', 'IF_ISSUE_E_IND': 'N', 'IF_ISSUE_F_IND': 'N', 'IF_ISSUE_G_IND': 'N', 'IF_ISSUE_H_IND': 'N', 'IF_ISSUE_INSD_A_IND': 'N', 'IF_ISSUE_INSD_B_IND': 'N', 'IF_ISSUE_INSD_C_IND': 'N', 'IF_ISSUE_INSD_D_IND': 'N', 'IF_ISSUE_INSD_E_IND': 'N', 'IF_ISSUE_INSD_F_IND': 'N', 'IF_ISSUE_INSD_G_IND': 'N', 'IF_ISSUE_INSD_H_IND': 'N', 'IF_ISSUE_INSD_I_IND': 'N', 'IF_ISSUE_INSD_J_IND': 'N', 'IF_ISSUE_INSD_K_IND': 'N', 'IF_ISSUE_INSD_L_IND': 'N', 'IF_ISSUE_INSD_M_IND': 'N', 'IF_ISSUE_INSD_N_IND': 'N', 'IF_ISSUE_INSD_O_IND': 'N', 'IF_ISSUE_INSD_P_IND': 'N', 'IF_ISSUE_INSD_Q_IND': 'N', 'IF_ISSUE_I_IND': 'N', 'IF_ISSUE_J_IND': 'N', 'IF_ISSUE_K_IND': 'N', 'IF_ISSUE_L_IND': 'N', 'IF_ISSUE_M_IND': 'N', 'IF_ISSUE_N_IND': 'N', 'IF_ISSUE_O_IND': 'N', 'IF_ISSUE_P_IND': 'N', 'IF_ISSUE_Q_IND': 'N', 'IF_S_REAL_IND': 'N', 'IF_Y_REAL_IND': 'N', 'IM_IS_A_IND': 'N', 'IM_IS_B_IND': 'N', 'IM_IS_C_IND': 'N', 'IM_IS_D_IND': 'N', 'INSD_1ST_AGE': '中', 'L1YR_LAPSE_IND': 'N', 'L1YR_PAYMENT_REMINDER_IND': 'N', 'LAST_A_CCONTACT_DT': 'N', 'LAST_A_ISSUE_DT': 'N', 'LAST_B_CONTACT_DT': 'N', 'LAST_B_ISSUE_DT': 'N', 'LAST_C_DT': 'N', 'LIFE_CNT': '低', 'REBUY_TIMES_CNT': '低', 'RFM_R': '低', 'X_A_IND': 'N', 'X_B_IND': 'N', 'X_C_IND': 'N', 'X_D_IND': 'N', 'X_E_IND': 'N', 'X_F_IND': 'N', 'X_G_IND': 'N', 'X_H_IND': 'N'}

for i,j in nonNum_values.items():
    try:
        if df_train[i][0]:
            df_train[i] = df_train[i].fillna(value=nonNum_values[i])
    except KeyError as e:
        print(e)
        
for i,j in nonNum_values.items():
    try:
        if df_test[i][0]:
            df_test[i] = df_test[i].fillna(value=nonNum_values[i])
    except KeyError as e:
        print(e)

# for i in nonNum_features:
#     df_train.groupby(i)[i].count().plot(kind='bar')
#     plt.show()
df_test

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'CHARGE_CITY_CD'
'CONTACT_CITY_CD'
'IF_ADD_G_IND'
'IF_ISSUE_A_IND'
'IF_ISSUE_E_IND'
'IF_ISSUE_H_IND'
'IF_ISSUE_K_IND'
'IF_ISSUE_M_IND'
'IF_ISSUE_O_IND'
'IF_Y_REAL_IND'
'L1YR_LAPSE_IND'
'LAST_B_ISSUE_DT'
'CHARGE_CITY_CD'
'CONTACT_CITY_CD'

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

'IF_ADD_G_IND'
'IF_ISSUE_A_IND'
'IF_ISSUE_E_IND'
'IF_ISSUE_H_IND'
'IF_ISSUE_K_IND'
'IF_ISSUE_M_IND'
'IF_ISSUE_O_IND'
'IF_Y_REAL_IND'
'L1YR_LAPSE_IND'
'LAST_B_ISSUE_DT'

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TERMINATION_RATE,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND
0,NaN,低,1,1,0.000259,NaN,低,0.000000,0,N,...,0.0,0,N,N,N,N,N,N,N,N
1,NaN,低,1,0,NaN,NaN,低,0.181818,0,N,...,0.0,0,N,N,N,N,N,N,N,N
2,0.0,低,2,2,0.000154,0.000000,低,0.068182,0,N,...,0.0,0,N,N,Y,N,N,N,N,N
3,NaN,低,1,0,NaN,NaN,低,0.159091,0,N,...,0.0,0,N,N,N,N,N,N,N,N
4,0.0,低,1,1,0.000310,0.000498,低,0.045455,0,N,...,0.0,1,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,NaN,中高,1,0,0.000211,NaN,高,0.090909,0,N,...,0.0,2,N,Y,N,N,Y,N,N,N
149996,NaN,高,1,1,0.000178,NaN,高,0.022727,0,N,...,0.0,15,N,Y,N,N,N,N,N,Y
149997,NaN,高,1,1,0.000275,NaN,高,0.159091,0,N,...,0.0,0,N,Y,Y,N,N,N,N,Y
149998,NaN,高,1,0,NaN,NaN,中高,0.477273,0,N,...,50.0,0,N,N,N,N,N,N,N,N
149999,NaN,高,1,1,NaN,NaN,中高,0.545455,0,N,...,0.0,0,N,N,N,N,N,N,N,N

In [39]:
Num_values_train = {'INSD_CNT': 15.0, 'ANNUAL_PREMIUM_AMT': 0.30, 'ANNUAL_INCOME_AMT': 0.20, 'TOOL_VISIT_1YEAR_CNT': 125.0, 'DIEBENEFIT_AMT': 0.30, 'DIEACCIDENT_AMT': 0.3, 'POLICY_VALUE_AMT': 0.35, 'EXPIRATION_AMT': 0.25, 'ILL_ACCELERATION_AMT': 0.40, 'L1YR_GROSS_PRE_AMT': 0.25, 'L1YR_A_ISSUE_CNT': 20}
Num_values_test = {'INSD_CNT': 15.0, 'ANNUAL_INCOME_AMT': 0.30, 'TOOL_VISIT_1YEAR_CNT': 150.0, 'EXPIRATION_AMT': 0.40, 'ILL_ACCELERATION_AMT': 0.35, 'ILL_ADDITIONAL_AMT': 0.25, 'L1YR_A_ISSUE_CNT': 20, 'L1YR_C_CNT': 30, 'ANNUITY_AMT': 0.30}

# for i,j in Num_values_train.items():
#     df_train = df_train[df_train[i] < Num_values_train[i]]
    
# for i,j in Num_values_test.items():
#     df_test = df_test[df_test[i] < Num_values_test[i]]

for i in Num_features:
    try:
        if df_train[i][0]:
            df_train[i] = df_train[i].fillna(value=df_train[i].mean())
    except KeyError as e:
        print(e)
    
for i in Num_features_t:
    try:
        if df_test[i][0]:
            df_test[i] = df_test[i].fillna(value=df_test[i].mean())
    except KeyError as e:
        print(e)

df_train

'L1YR_B_ISSUE_CNT'
'CHANNEL_B_POL_CNT'
'ANNUAL_INCOME_AMT'
'L1YR_C_CNT'
'POLICY_VALUE_AMT'
'EXPIRATION_AMT'
'FIRST_CANCER_AMT'
'ILL_ADDITIONAL_AMT'
'L1YR_B_ISSUE_CNT'
'CHANNEL_B_POL_CNT'
'ANNUAL_INCOME_AMT'
'L1YR_C_CNT'
'POLICY_VALUE_AMT'
'EXPIRATION_AMT'
'FIRST_CANCER_AMT'
'ILL_ADDITIONAL_AMT'

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND,Y1
0,0.151623,低,1,0,0.000192,0.002359,低,0.046512,0,N,...,0,N,N,N,N,N,N,N,N,N
1,0.151623,低,1,0,0.009675,0.002359,低,0.046512,0,N,...,0,N,N,N,N,N,N,N,N,N
2,0.000000,低,1,0,0.000292,0.000000,低,0.000000,1,N,...,0,N,N,N,Y,N,N,N,N,N
3,0.151623,低,1,0,0.001235,0.002359,低,0.162791,0,N,...,0,N,N,N,N,N,N,N,N,N
4,0.000000,低,1,1,0.000664,0.000000,低,0.116279,1,Y,...,0,N,Y,N,N,Y,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.151623,高,2,0,0.000483,0.002359,中高,0.372093,0,N,...,1,N,N,Y,N,Y,N,N,N,N
99996,0.151623,高,1,0,0.001235,0.002359,中高,0.465116,0,N,...,0,N,N,N,N,N,N,N,N,Y
99997,0.151623,中高,3,1,0.001235,0.002359,中,0.279070,0,N,...,0,N,N,N,N,N,N,N,N,Y
99998,0.151623,高,1,1,0.000548,0.002359,高,0.023256,0,N,...,9,N,Y,Y,N,Y,N,N,Y,N
99999,0.151623,高,1,1,0.000440,0.002359,高,0.000000,0,N,...,1,N,Y,N,N,N,N,N,Y,N

In [160]:
gg = []
for g in df_test.columns:
    gg.append(g)

for h in df_train.columns:
    if h not in gg:
        print(h)

Y1

In [41]:
# Label Encoding
# labelencoder = LabelEncoder()
# df_train_1 = df_train.copy()
# for i in nonNum_features:
#     try:
#         if (len(df_train_1[i])>0):
#             df_train_1[i] = labelencoder.fit_transform(df_train_1[i])
#     except:
#         print(i)

# df_test_1 = df_test.copy()
# for i in nonNum_features_t:
#     try:
#         if (len(df_test_1[i])>0):
#             df_test_1[i] = labelencoder.fit_transform(df_test_1[i])
#     except:
#         print(i)

# df_train_1 = df_train.copy()
# df_train_1['IF_ISSUE_I_IND'] = labelencoder.fit_transform(df_train_1['IF_ISSUE_I_IND'])
# df_train_1['LAST_A_CCONTACT_DT'] = labelencoder.fit_transform(df_train_1['LAST_A_CCONTACT_DT'])
# df_train_1['IF_ISSUE_Q_IND'] = labelencoder.fit_transform(df_train_1['IF_ISSUE_Q_IND'])
# df_train_1['IF_ADD_Q_IND'] = labelencoder.fit_transform(df_train_1['IF_ADD_Q_IND'])
# df_train_1['IF_ADD_L_IND'] = labelencoder.fit_transform(df_train_1['IF_ADD_L_IND'])
# df_train_1['IF_ADD_IND'] = labelencoder.fit_transform(df_train_1['IF_ADD_IND'])
# df_train_1['IF_ISSUE_J_IND'] = labelencoder.fit_transform(df_train_1['IF_ISSUE_J_IND'])
# df_train_1['LAST_C_DT'] = labelencoder.fit_transform(df_train_1['LAST_C_DT'])
# df_train_1['IF_2ND_GEN_IND'] = labelencoder.fit_transform(df_train_1['IF_2ND_GEN_IND'])
# df_train_1['AGE'] = labelencoder.fit_transform(df_train_1['AGE'])
df_train_1

# df_test_1 = df_test.copy()
# df_test_1['IF_ISSUE_I_IND'] = labelencoder.fit_transform(df_test_1['IF_ISSUE_I_IND'])
# df_test_1['LAST_A_CCONTACT_DT'] = labelencoder.fit_transform(df_test_1['LAST_A_CCONTACT_DT'])
# df_test_1['IF_ISSUE_Q_IND'] = labelencoder.fit_transform(df_test_1['IF_ISSUE_Q_IND'])
# df_test_1['IF_ADD_Q_IND'] = labelencoder.fit_transform(df_test_1['IF_ADD_Q_IND'])
# df_test_1['IF_ADD_L_IND'] = labelencoder.fit_transform(df_test_1['IF_ADD_L_IND'])
# df_test_1['IF_ADD_IND'] = labelencoder.fit_transform(df_test_1['IF_ADD_IND'])
# df_test_1['IF_ISSUE_J_IND'] = labelencoder.fit_transform(df_test_1['IF_ISSUE_J_IND'])
# df_test_1['LAST_C_DT'] = labelencoder.fit_transform(df_test_1['LAST_C_DT'])
# df_test_1['IF_2ND_GEN_IND'] = labelencoder.fit_transform(df_test_1['IF_2ND_GEN_IND'])
# df_test_1['AGE'] = labelencoder.fit_transform(df_test_1['AGE'])
# df_test_1

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND,Y1
0,0.151623,2,1,0,0.000192,0.002359,2,0.046512,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.151623,2,1,0,0.009675,0.002359,2,0.046512,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.000000,2,1,0,0.000292,0.000000,2,0.000000,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.151623,2,1,0,0.001235,0.002359,2,0.162791,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.000000,2,1,1,0.000664,0.000000,2,0.116279,1,1,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.151623,3,2,0,0.000483,0.002359,1,0.372093,0,0,...,1,0,0,1,0,1,0,0,0,0
99996,0.151623,3,1,0,0.001235,0.002359,1,0.465116,0,0,...,0,0,0,0,0,0,0,0,0,1
99997,0.151623,1,3,1,0.001235,0.002359,0,0.279070,0,0,...,0,0,0,0,0,0,0,0,0,1
99998,0.151623,3,1,1,0.000548,0.002359,3,0.023256,0,0,...,9,0,1,1,0,1,0,0,1,0
99999,0.151623,3,1,1,0.000440,0.002359,3,0.000000,0,0,...,1,0,1,0,0,0,0,0,1,0

In [42]:
df_test_1

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TERMINATION_RATE,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND
0,0.151758,2,1,1,0.000259,0.002141,2,0.000000,0,0,...,0.0,0,0,0,0,0,0,0,0,0
1,0.151758,2,1,0,0.001258,0.002141,2,0.181818,0,0,...,0.0,0,0,0,0,0,0,0,0,0
2,0.000000,2,2,2,0.000154,0.000000,2,0.068182,0,0,...,0.0,0,0,0,1,0,0,0,0,0
3,0.151758,2,1,0,0.001258,0.002141,2,0.159091,0,0,...,0.0,0,0,0,0,0,0,0,0,0
4,0.000000,2,1,1,0.000310,0.000498,2,0.045455,0,0,...,0.0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0.151758,1,1,0,0.000211,0.002141,3,0.090909,0,0,...,0.0,2,0,1,0,0,1,0,0,0
149996,0.151758,3,1,1,0.000178,0.002141,3,0.022727,0,0,...,0.0,15,0,1,0,0,0,0,0,1
149997,0.151758,3,1,1,0.000275,0.002141,3,0.159091,0,0,...,0.0,0,0,1,1,0,0,0,0,1
149998,0.151758,3,1,0,0.001258,0.002141,1,0.477273,0,0,...,50.0,0,0,0,0,0,0,0,0,0
149999,0.151758,3,1,1,0.001258,0.002141,1,0.545455,0,0,...,0.0,0,0,0,0,0,0,0,0,0

In [12]:
# One hot encoding

t = pd.get_dummies(df_train)
df_train_1 = pd.DataFrame(t)
tt = pd.get_dummies(df_test)
df_test_1 = pd.DataFrame(tt)

df_train_1

,ACCIDENT_HOSPITAL_REC_AMT,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_YEARDIF,APC_CNT,BANK_NUMBER_CNT,BMI,CHANNEL_A_POL_CNT,...,X_E_IND_N,X_E_IND_Y,X_F_IND_N,X_F_IND_Y,X_G_IND_N,X_G_IND_Y,X_H_IND_N,X_H_IND_Y,Y1_N,Y1_Y
0,0.151623,1,0,0.000192,0.002359,0.046512,0,0.125,0.125000,0,...,1,0,1,0,1,0,1,0,1,0
1,0.151623,1,0,0.009675,0.002359,0.046512,0,0.125,0.175000,0,...,1,0,1,0,1,0,1,0,1,0
2,0.000000,1,0,0.000292,0.000000,0.000000,1,0.000,0.225000,1,...,1,0,1,0,1,0,1,0,1,0
3,0.151623,1,0,0.001235,0.002359,0.162791,0,0.125,0.150000,0,...,1,0,1,0,1,0,1,0,1,0
4,0.000000,1,1,0.000664,0.000000,0.116279,1,0.000,0.175000,1,...,0,1,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.151623,2,0,0.000483,0.002359,0.372093,0,0.000,0.264241,3,...,0,1,1,0,1,0,1,0,1,0
99996,0.151623,1,0,0.001235,0.002359,0.465116,0,0.000,0.264241,1,...,1,0,1,0,1,0,1,0,0,1
99997,0.151623,3,1,0.001235,0.002359,0.279070,0,0.000,0.264241,4,...,1,0,1,0,1,0,1,0,0,1
99998,0.151623,1,1,0.000548,0.002359,0.023256,0,0.125,0.264241,2,...,0,1,1,0,1,0,0,1,1,0
99999,0.151623,1,1,0.000440,0.002359,0.000000,0,0.000,0.264241,4,...,1,0,1,0,1,0,0,1,1,0

In [13]:
# 補columns
df_test_1
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
# df_train_1 = df_train_1.assign(LIFE_CNT_低 = 0)

# df_train_1

,ACCIDENT_HOSPITAL_REC_AMT,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_YEARDIF,APC_CNT,BANK_NUMBER_CNT,BMI,CHANNEL_A_POL_CNT,...,X_D_IND_N,X_D_IND_Y,X_E_IND_N,X_E_IND_Y,X_F_IND_N,X_F_IND_Y,X_G_IND_N,X_G_IND_Y,X_H_IND_N,X_H_IND_Y
0,0.151758,1,1,0.000259,0.002141,0.000000,0,0.000,0.325000,4,...,1,0,1,0,1,0,1,0,1,0
1,0.151758,1,0,0.001258,0.002141,0.181818,0,0.125,0.075000,0,...,1,0,1,0,1,0,1,0,1,0
2,0.000000,2,2,0.000154,0.000000,0.068182,0,0.125,0.150000,1,...,1,0,1,0,1,0,1,0,1,0
3,0.151758,1,0,0.001258,0.002141,0.159091,0,0.125,0.200000,0,...,1,0,1,0,1,0,1,0,1,0
4,0.000000,1,1,0.000310,0.000498,0.045455,0,0.125,0.125000,1,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0.151758,1,0,0.000211,0.002141,0.090909,0,0.125,0.264783,2,...,1,0,0,1,1,0,1,0,1,0
149996,0.151758,1,1,0.000178,0.002141,0.022727,0,0.000,0.264783,1,...,1,0,1,0,1,0,1,0,0,1
149997,0.151758,1,1,0.000275,0.002141,0.159091,0,0.125,0.264783,2,...,1,0,1,0,1,0,1,0,0,1
149998,0.151758,1,0,0.001258,0.002141,0.477273,0,0.125,0.264783,2,...,1,0,1,0,1,0,1,0,1,0
149999,0.151758,1,1,0.001258,0.002141,0.545455,0,0.000,0.264783,1,...,1,0,1,0,1,0,1,0,1,0

In [41]:
gg = []
for g in df_train_1.columns:
    gg.append(g)

for h in df_test_1.columns:
    if h not in gg:
        print(h)

In [43]:
df_train_result = df_train_1[['CUS_ID', 'Y1_Y']]
df_train_result.columns = ['CUS_ID', 'result']
df_train_1 = df_train_1[df_train_1.columns.difference(['Y1_Y', 'Y1_N'])]
df_train_1

KeyError: "['Y1_Y'] not in index"

In [46]:
df_train_result = df_train_1[['CUS_ID', 'Y1']]
df_train_result.columns = ['CUS_ID', 'result']
df_train_1 = df_train_1[df_train_1.columns.difference(['Y1'])]
df_train_1

,ACCIDENT_HOSPITAL_REC_AMT,AGE,AG_CNT,AG_NOW_CNT,ANNUAL_PREMIUM_AMT,ANNUITY_AMT,APC_1ST_AGE,APC_1ST_YEARDIF,APC_CNT,A_IND,...,TERMINATION_RATE,TOOL_VISIT_1YEAR_CNT,X_A_IND,X_B_IND,X_C_IND,X_D_IND,X_E_IND,X_F_IND,X_G_IND,X_H_IND
0,0.151623,2,1,0,0.000192,0.002359,2,0.046512,0,0,...,0.0,0,0,0,0,0,0,0,0,0
1,0.151623,2,1,0,0.009675,0.002359,2,0.046512,0,0,...,0.0,0,0,0,0,0,0,0,0,0
2,0.000000,2,1,0,0.000292,0.000000,2,0.000000,1,0,...,0.0,0,0,0,0,1,0,0,0,0
3,0.151623,2,1,0,0.001235,0.002359,2,0.162791,0,0,...,0.0,0,0,0,0,0,0,0,0,0
4,0.000000,2,1,1,0.000664,0.000000,2,0.116279,1,1,...,0.0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.151623,3,2,0,0.000483,0.002359,1,0.372093,0,0,...,0.0,1,0,0,1,0,1,0,0,0
99996,0.151623,3,1,0,0.001235,0.002359,1,0.465116,0,0,...,100.0,0,0,0,0,0,0,0,0,0
99997,0.151623,1,3,1,0.001235,0.002359,0,0.279070,0,0,...,50.0,0,0,0,0,0,0,0,0,0
99998,0.151623,3,1,1,0.000548,0.002359,3,0.023256,0,0,...,0.0,9,0,1,1,0,1,0,0,1
99999,0.151623,3,1,1,0.000440,0.002359,3,0.000000,0,0,...,0.0,1,0,1,0,0,0,0,0,1

In [47]:
# split train and valid
# train_x = df_train[:50000]
# valid_x = df_train[50000:]
# train_y = df_train_result[:50000]
# valid_y = df_train_result[50000:]

train_x, valid_x, train_y, valid_y = train_test_split(df_train_1, df_train_result, test_size=0.45, random_state=33)

In [48]:
r = df_train_1.drop('CUS_ID',axis=1)
r = r.columns
r

rr = df_test_1.drop('CUS_ID',axis=1)
rr = rr.columns
rr

Index(['ACCIDENT_HOSPITAL_REC_AMT', 'AGE', 'AG_CNT', 'AG_NOW_CNT',
       'ANNUAL_PREMIUM_AMT', 'ANNUITY_AMT', 'APC_1ST_AGE', 'APC_1ST_YEARDIF',
       'APC_CNT', 'A_IND',
       ...
       'TERMINATION_RATE', 'TOOL_VISIT_1YEAR_CNT', 'X_A_IND', 'X_B_IND',
       'X_C_IND', 'X_D_IND', 'X_E_IND', 'X_F_IND', 'X_G_IND', 'X_H_IND'],
      dtype='object', length=110)

In [188]:
targetset = df_test_1.copy()
print(targetset.shape)

test_y_pred = rfc.predict_proba(targetset[r])
test_x_1 = targetset.copy()
test_x_1['predict_proba'] = test_y_pred[:, 1]
print(test_x_1.shape)
test_y_pred

(150000, 206)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [100]:
output = pd.concat((targetset[['CUS_ID']], test_x_1['predict_proba']), axis=1)
print(output.shape)

out = output.groupby('CUS_ID', as_index=False).mean()
out = out[['CUS_ID', 'predict_proba']]
out.columns = ['CUS_ID', 'Ypred']
out.to_csv('output_190922_6_RFC_allFeatureProcessed_oneHot.csv')
out

(150000, 2)

         CUS_ID  Ypred
0             3    0.2
1             5    0.1
2            20    0.2
3            48    0.2
4            49    0.1
...         ...    ...
149995  2591999    0.4
149996  2592019    0.3
149997  2592023    0.4
149998  2592034    0.0
149999  2592064    0.1

[150000 rows x 2 columns]

In [26]:
m.score

<bound method ClassifierMixin.score of RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

In [101]:
# https://medium.com/jameslearningnote/%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90-%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92-%E7%AC%AC5-2%E8%AC%9B-kaggle%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92%E7%AB%B6%E8%B3%BD%E7%A5%9E%E5%99%A8xgboost%E4%BB%8B%E7%B4%B9-1c8f55cffcc
import xgboost as xgb
from xgboost import XGBClassifier

In [102]:
xgbc = XGBClassifier()

In [103]:
mm = xgbc.fit(train_x[r], train_y[['result']])

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [104]:
print(xgbc.score(valid_x[r], valid_y[['result']])) # 0.9805777777777778

0.9805111111111111

In [105]:
valid_y_pred = xgbc.predict_proba(valid_x[r])
valid_x_1 = valid_x.copy()
valid_x_1['predict_proba'] = valid_y_pred[:, 1]

auc_score = roc_auc_score(y_true=valid_y.result, y_score=valid_y_pred[:, 1])
acc = accuracy_score(y_true=valid_y.result, y_pred=valid_y_pred.argmax(axis=1))
print('Validation AUC: {:.3f}, Accuracy: {:.3f}'.format(auc_score, acc))

Validation AUC: 0.840, Accuracy: 0.981

In [81]:
targetset = df_test_1.copy()
print(targetset.shape)

test_y_pred = xgbc.predict_proba(targetset[r])
test_x_1 = targetset.copy()
test_x_1['predict_proba'] = test_y_pred[:, 1]
print(test_x_1.shape)

(150000, 250)
(150000, 251)

In [82]:
test_y_pred

array([[0.9605471 , 0.03945289],
       [0.998583  , 0.00141698],
       [0.9951908 , 0.00480923],
       ...,
       [0.97308517, 0.02691483],
       [0.9871548 , 0.01284523],
       [0.9835772 , 0.01642279]], dtype=float32)

In [83]:
output = pd.concat((targetset[['CUS_ID']], test_x_1['predict_proba']), axis=1)
print(output.shape)
output

(150000, 2)

         CUS_ID  predict_proba
0          1193       0.039453
1          1727       0.001417
2          3293       0.004809
3          4328       0.003063
4          5555       0.018629
...         ...            ...
149995  2074085       0.101643
149996  2095927       0.200088
149997  2125973       0.026915
149998  2511714       0.012845
149999  2558094       0.016423

[150000 rows x 2 columns]

In [84]:
out = output.groupby('CUS_ID', as_index=False).mean()
out = out[['CUS_ID', 'predict_proba']]
out.columns = ['CUS_ID', 'Ypred']
out.to_csv('output_190922_7_xgboost_allFeatureProcessed_oneHot.csv') # 補特定值AUC 在rfc上升 在xg卻下降
out

         CUS_ID     Ypred
0             3  0.044354
1             5  0.155073
2            20  0.030895
3            48  0.024515
4            49  0.165504
...         ...       ...
149995  2591999  0.015753
149996  2592019  0.023329
149997  2592023  0.043090
149998  2592034  0.030617
149999  2592064  0.004961

[150000 rows x 2 columns]